<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinking Water | MEDIEASE</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header class="header">
        <div class="logo-title">
            <img src='https://cdn-icons-png.flaticon.com/512/4807/4807695.png' alt="Mediease Logo" class="logo">
            <div class="header-title">
                <h1>MEDIEASE</h1>
            </div>
        </div>
        <nav>
            <a href="login" class="login-btn">Login</a>
            <a href="signup" class="signup-btn">Signup</a>
        </nav>
    </header>
    <ul>
        <li>
            <nav class="hel">
            <a href="/homepage">
                <img src='https://cdn-icons-png.flaticon.com/512/9385/9385212.png' alt="Home Icon" class="home-icon">
                Home
            </a>
        </li>
        <li>
            <a class="100" href="#">
                <img src='https://cdn-icons-png.flaticon.com/512/2875/2875035.png' alt="Home Icon" class="home-icon">
                 Doctor Consultancy 
                </a>
            <ul class="sub-menu">
                <li><a href="#">Virtual Meet</a></li>
                <li><a href="/bookanappointment">Book an Appointment</a></li>
            </ul>
        </li>
        <li><a href="/userprofile"> User Profile </a></li>
        <li><a href="#"> Fitness </a>
        <ul class="sub-menu">
            <li><a href="walking">Walking</a></li>
            <li><a href="exercise">Exercise</a></li>
            <li><a href="/">Mediease AI</a></li>
            <li><a href="waterdrop">Drinking Water</a></li>
            <li><a href="/cycle">Cycling</a></li>
            <li><a href="bodymassindex">BMI(Body Mass Index)</a></li>
        </ul>
    </li>
        <li><a href="about"> 
            <img src='https://cdn-icons-png.flaticon.com/512/52/52349.png' alt="Home Icon" class="home-icon">
            About 
        </a></li>
        <li><a href="contactus">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/ojnjgkun.json"
    trigger="hover"
    style="width:27px;height:27px"
    alt="Home Icon" class="home-icon">
</lord-icon>         
            Contact Us </a></li>
    </nav>
    </ul>
    <div class="slds-card">
        <h2 style="text-align: center; font-size: 2.5rem; margin-top: 20px; color: #333;">
            Stay Hydrated: Essential Tips for Health and Wellness
        </h2>
        <div class="container">
            <div class="drop" style="--clr:#ff0f5b">
                <div class="content">
                    <h2>01</h2>
                    <p><b>Hydration is Key</b><br/><br/>
                        Water is essential for vital bodily functions, including digestion, temperature regulation, and nutrient absorption. Adequate hydration prevents fatigue and supports overall well-being.</p>
                    <a href='https://www.youtube.com/watch?v=oDhXPTkbRFo'>Read More</a>
                </div>
            </div>
            <div class="drop" style="--clr:#be01fe">
                <div class="content">
                    <h2>02</h2>
                    <p><b>Daily Intake Guideline</b><br/><br/>
                        Aim for around 8 glasses of water a day (2 liters). Adjust based on factors like age, weight, and climate to ensure proper hydration tailored to individual needs.</p>
                    <a href='https://www.youtube.com/watch?v=2CyDX4u41zQ'>Read More</a>
                </div>
            </div>
            <div class="drop" style="--clr:#01b4ff">
                <div class="content">
                    <h2>03</h2>
                    <p><b>Ensure Water Quality</b><br/><br/>
                        Beyond quantity, prioritize water quality. Whether from tap, well, or bottle, ensure clean water to prevent waterborne diseases. Regular testing and treatment maintain the purity of the water you consume.</p>
                    <a href='https://www.youtube.com/watch?v=fLUalgT-1Co'>Read More</a>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="c-footer">
        <div class="footer-left">
            <h3>Connect with Us</h3>
            <!-- Add social media icons/links here -->
            <a href="https://www.instagram.com/mediease_ts/" target="_blank">
                <img src='https://cdn.discordapp.com/attachments/1143051446489731154/1195393851251241100/icons8-facebook-96.png?ex=65b3d447&is=65a15f47&hm=82cdb082d07c7a9af8a97f46d5ec6d735e734660c156edcdb97ea0644e796b3f&' alt="Facebook Icon" class="social-icon">
                Facebook
            </a>
            <br>
            <a href="https://www.instagram.com/mediease_ts/" target="_blank">
                <img src='https://cdn.discordapp.com/attachments/1143051446489731154/1195395290526666762/icons8-instagram-96.png?ex=65b3d59e&is=65a1609e&hm=ef5337e5f7533123eed2d04b9968add557672e366bdf8d76e2486279fe31a111&' alt="Facebook Icon" class="social-icon">
                Instagram
            </a>
            <br>
            <a href="https://www.youtube.com/@Cure_Craft" target="_blank">
                <img src='https://cdn.discordapp.com/attachments/1143051446489731154/1195395145961590784/icons8-youtube-96.png?ex=65b3d57c&is=65a1607c&hm=1962a969c1426c70edeab88ef8d9a3f1154bc0f4b64099cbcab7876ba843ab57&' alt="Facebook Icon" class="social-icon">
                YouTube
            </a>
        </div>
        <div class="footer-right">
            <h3>Contact Information</h3>
            <!-- Add contact information here -->
            <p>Email: help.mediease@gmail.com</p>
            <p>Phone: +91 76010 69687, +91 81215 82817</p>
        </div>
    </footer>
</body>
</html>
